%p#notice= notice
%h1 Users
%table
  %thead
    %tr
      %th Firstname
      %th Lastname
      %th Height (inches)
      %th Weight (pounds)
      %th Age
      %th Date
      %th Email
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.firstname
        %td= user.lastname
        %td= user.height
        %td= user.weight
        %td= user.age
        %td= user.date
        %td= user.email
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
