%p#notice= notice
%p
  %strong Firstname:
  = @user.firstname
%p
  %strong Lastname:
  = @user.lastname
%p
  %strong Height:
  = @user.height
%p
  %strong Weight:
  = @user.weight
%p
  %strong BMI:
  = ((@user.weight.to_f/(@user.height * @user.height)) * 1000).round(1)

= link_to 'Edit profile', edit_user_path(@user)
//| = link_to 'Back', users_path

#chart-1{style: "height: 30em;width: 75em;margin-left:11em;margin-top:-18.5em;"}

:javascript
  var data = {"2013-02-10":11,"2013-02-11":6,"2013-02-12":3,"2013-02-13":2,"2013-02-14":5,"2013-02-15":3,"2013-02-16":8,"2013-02-17":6,"2013-02-18":6,"2013-02-19":12,"2013-02-20":5,"2013-02-21":5,"2013-02-22":3,"2013-02-23":1,"2013-02-24":10,"2013-02-25":1,"2013-02-26":3,"2013-02-27":2,"2013-02-28":3,"2013-03-01":2,"2013-03-02":8};
  new Chartkick.LineChart("chart-1", data, {"xtitle": "Date", "ytitle": "Progress", colors: ["red"]}); // can have mutiple colors with multiple data sets