<p id="notice"><%= notice %></p>

<p>
  <strong>Exercise:</strong>
  <%= @liftdatum.exercise %>
</p>

<p>
  <strong>Set:</strong>
  <%= @liftdatum.set %>
</p>

<p>
  <strong>Rep:</strong>
  <%= @liftdatum.rep %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @liftdatum.weight %>
</p>

<%= link_to 'Edit', edit_liftdatum_path(@liftdatum) %> |
<%= link_to 'Back', liftdata_path %>
